.bulu {
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.modal {
  background-color: aquamarine;
  height: 15rem;
  width: 20rem;
  margin-top: 10rem;
  margin-left: 50rem;
  background-color: aqua;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns {
  margin-top: 4rem;
}

.body {
  background: white;
}
